{
  "pid": "com.tibco.bw.stat.appnode.9ee507ed-89bd-4335-bca8-21664d93a758",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.9ee507ed-89bd-4335-bca8-21664d93a758",
      "type": "java.lang.String"
    }
  }
}