{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JNDIConnection.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JNDIConnection",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/jms}JNDIConnection.53eb50d8-2599-4170-a3b2-032f2a5d1fff",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}