{
  "pid": "com.tibco.bw.stat.appnode.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "com.tibco.bw.stat.appnode.95689c7c-4494-4402-9aea-caf39d21b982",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}