{
  "pid": "bw.application.CacheUpdateHandlerBannerADB.application_1.0",
  "properties": {
    "_felix_.cm.newConfiguration": {
      "name": "_felix_.cm.newConfiguration",
      "value": true,
      "type": "java.lang.Boolean"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.CacheUpdateHandlerBannerADB.application_1.0",
      "type": "java.lang.String"
    }
  }
}