{
  "pid": "com.tibco.bw.stat.appnode.a5df6ee3-f2c7-4af0-b1aa-6fcbc613e059",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.a5df6ee3-f2c7-4af0-b1aa-6fcbc613e059",
      "type": "java.lang.String"
    }
  }
}